services:
  mergeprinall:
    image: ghcr.io/yanorei32/merge-pr-in-all:0.1.1
    hostname: mergeprinall
    container_name: mergeprinall__mergeprinall
    restart: unless-stopped

    environment:
      LOGIN: yanorei32
      TOKEN: ${TOKEN}
      LISTEN: 0.0.0.0:3000
      AUTH_TOKEN: ${AUTH_TOKEN}

    command: /usr/bin/merge-pr-in-all

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    hostname: cloudflared
    container_name: mergeprinall__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

networks:
  default:
    name: mergeprinall__default
